* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.img-avatar,
.img-icon {
    width: 50px;
    aspect-ratio: 1/1;
}

.sfondo {
    position: relative;
}

.sfondo-blu {
    height: 15vh;
    background-color: #009688;
}

.sfondo-chiaro {
    height: 85vh;
    background-color: #DADBD3;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.avatar-icon {
    color: #B1B1B1;
}

.img-icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8EDAFC;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-celest {
    background-color: #8EDAFC;
}

.notifiche .text :first-child {
    font-weight: bold;
    font-size: 12px;
}
.text :last-child {
    font-size: 10px;
}

.input-group-text {
    border: 2px solid #ced4da;
    border-right: none;
}

.form-control {
    border: 2px solid #ced4da;
    border-left: none;
}

.contact :hover {
    background-color: #EAEAEA;
}

.side-contacts {
    max-height: 500px;
    overflow-y: scroll;
}