* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.img-avatar,
.img-icon {
    width: 50px;
    aspect-ratio: 1/1;
}

.sfondo {
    position: relative;
}

.sfondo-blu {
    height: 15vh;
    background-color: #009688;
}

.sfondo-chiaro {
    height: 85vh;
    background-color: #DADBD3;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.avatar-icon {
    color: #B1B1B1;
}

.img-icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8EDAFC;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-celest {
    background-color: #8EDAFC;
}

.notifiche .text :first-child {
    font-weight: bold;
    font-size: 12px;
}
.text :last-child {
    font-size: 10px;
}

.input-group-text {
    border: 2px solid #ced4da;
    border-right: none;
}

.form-control {
    border: 2px solid #ced4da;
    border-left: none;
}

.contact :hover {
    background-color: #EAEAEA;
}

.side-contacts {
    max-height: 500px;
    overflow-y: scroll;
}

.bg-whatsapp {
    background-image: url(https://i.pinimg.com/originals/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
    background-size: contain;
    overflow-y: scroll;
}

.bg-whatsapp .row > .col-auto {
    width: 45%;
}

.input-message i {
    color: #6B7376;
}

.sent {
    background-color: #D5F9BA;
    border-radius: 10px;
    align-self: end;
}

.received {
    background-color: white;
    border-radius: 10px;
    align-self: start;
}

.last-access {
    font-size: 10px;
    color: #6B7376;
}

.time-mex {
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: #6B7376;
}