* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sfondo {
    position: relative;
}

.sfondo-blu {
    height: 15vh;
    background-color: #009688;
}

.sfondo-chiaro {
    height: 85vh;
    background-color: #DADBD3;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    width: 80%;
}